@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    transition: background 0.3s linear; 
}

.Montserrat-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

/*---------------- navbar--------------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16.5px 100px;
    background-color: #276072;
    color: #FFFFFF;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 47px;
    font-size: 20px;
    text-align: center;
}

main {
    margin: 0 100px;
}

.main {
    display: flex;
}

.first-row {
    margin-right: 130px;
}

.second-row {
    margin-right: 82px;
}

.icon-text {
    display: flex;
    align-items: center;
}

.id-links {
    text-decoration: none;
    color: black;
}

.dark-id-links {
    text-decoration: none;
    color: white;
}

.profile-link {
    display: flex;
    justify-content: center;
}

/* ---------- Night mode----------  */
.alu {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px 50px 0 0;
}

body.dark {
    background-color: #292c35;
    color: white;

}


.checkbox {
    opacity: 0;
    position: absolute;

}

.label {
    width: 50px;
    height: 26px;
    background-color: #ECECEC;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1);
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #5B5B5B;
    position: absolute;
    top:2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}


.checkbox:checked+.label .ball {
    transform: translateX(24px);
}